// ======= Colors =======
$default-color: #139EFA; // Blue
$colorPrimary: #02C43C; // Green
$colorSecondary: #A906E5; // Purple

// ======= fonts =======
$default-font-size: 10px;

// ======= mainMenu Variables =======
$menuItem_W: 100px;
$menuItem_H: 30px;
$menuItem_mar: 5px;
$menuItem_pad: 5px;
$menuItem_bg: $default-color;
$menuItem_hov: $colorPrimary;
$menuItem_txt: white;

// ======= miniMenu =======
$button_W: 100px;
$button_H: 20px;
$button_mar: 5px;
$button_pad: 5px;
$button_bg: #A906E5;
$button_hov: #02C43C;
$button_txt: white;

/* ======= ======= =======  mixins (defined)  ======= ======= ======= */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin shader($opacity) {
    opacity: $opacity;
}

// ======= imports =======
@import 'mainMenu';
@import 'miniMenu';
